<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Assignment 2.4 EJS Views</title>
  <!-- inlcude the bootstrap css, google fonts used on the page -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Josefin+Sans:400,700|Source+Code+Pro:400,700" rel="stylesheet">
  <!-- custom css for the page -->
  <style>
    html{
      font-size: 16px;
    }

    body{
      font-family: 'Josefin Sans', 'sans-serif', 'Arial', 'Tahoma', 'Veranda';
    }

    .container__address--center{
      text-align: center;
    }
  </style>
</head>
<body>

  <!-- create the base container on the page -->
  <div class="container">
    <!-- create the banner div applying bootstrap jumbotron style -->
    <div class="jumbotron">
      <!-- create a containing row and column for the output -->
      <div class="row">
        <div class="col">
          <!-- create an address element styled to center in the banner -->
          <address class="container__address--center">
            <!-- output the variables bound from the view model -->
            <h2><%= firstName %> <%= lastName %></h2><br/>
            <%= address %><br/>
            <%= city %>, <%= state %> <%= postalCode %>
          </address>
        </div>
      </div>
    </div>
  </div>

  <!-- inlcude the jquery, popper and the bootstrap javascript files to support the use of the bootstrap framework -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>
